Q1.  Explain the key features of Python that make it a popular choice for programming.
Ans. Python is considered one of the most versatile and easy language to use for our programming purposes.
     i.e Python is considered as most versatile language because it provides many libraries and tools to do tasks in many      
     different fields like in front-end, Data Science and back-end etc. It is easy to learn and a versatile language.
     
   ## Key features :-
   
   1) Readability :- It has a very simple syntax that is easy to understand with clear and concise meaning.
   2) Versatility :- It can be used for wide range of applications like web development, Data science, and can do work from     
      scripting to building complex applications.
   3) Large Community :- Python has a large and active community. It provide useful support and resources to users.
   4) Open Source :- It is a open source i.e it is free to use and distribute, also users can contribute to its development.
   5) Cross Platform :- It can run on various operating systems including Windows, macOS, and Linux.

Q2. Describe the role of predefined keywords in Python and provide examples of how they are used in a
program.
Ans. Predefined Keywords are those predefined words that hold a special meaning and have specific purposes. These Keywords can not be used as variable names, function names, or other identifiers. They define the syntax and structure of the language.
Such Python Keywords are :- False, True, None, and, as, break, continue etc.

  ## Example:-
  
  for "and" Keyword:- 
  x = (5>3 and 5<10)
  print(x)
  => True (# as "and" keyword represents logical operator which Return True if both statements are True)

## Example in code

In [4]:
for i in range(9):
    if i > 3:
        break
    print(i)

0
1
2
3

Q3. Compare and contrast mutable and immutable objects in Python with examples.
Ans. Mutable and Immutable objects in python refers to containers/objects whose state or value can be changed after they are created, they are called as mutable objects or containers. Whereas those objects or containers whose values don't change after creation are called as Immutable objects/containers.

* List is an example of Mutable object 
* Strings and tuple is a type of immutable object

## Example in code

In [2]:
a = [2,3,"Sandeep", "Ashwin"] # example of mutable with use of list
a

[2, 3, 'Sandeep', 'Ashwin']

In [4]:
type(a)

list

In [5]:
a[3]= "Ravi"

In [6]:
a

[2, 3, 'Sandeep', 'Ravi']

In [7]:
a = "Ashwin" # example of immutable using string
type(a)

str

In [8]:
a[0:4]

'Ashw'

In [10]:
a[3]= "j" # will throw an error as string does not support item assignment

TypeError: 'str' object does not support item assignment

Q4. Discuss the different types of operators in Python and provide examples of how they are used.
Ans. Operators in Python are used to perform operations on values and variables so that we can manage data, do computations and can make decisions using data.

 Operators in Python are:-

In [11]:
# Arithmatic Operators (+,-,*,%,//,**)
21/4

5.25

In [13]:
4+5

9

In [14]:
# Comparison Operators (==,!=,>,<,>=,<=)
2==2

True

In [15]:
10>=1

True

In [16]:
12<2

False

In [17]:
# Logical operators (and, or, not)
x = 3 
print(x<5 and x<10)

True

In [18]:
x = 7
x<5 and x<10

False

In [19]:
#Assignment operators (=, +=, -=, *=, /=)
a = 10
a

10

In [20]:
a += 15
a

25

In [21]:
# Membership operators (in, not in)
a = "Jain"
"J" in a

True

In [22]:
"v" in a

False

In [23]:
"V" not in a

True

In [24]:
# Identity operators (is, is not)
a=2
b=3
a is b

False

In [25]:
a is not b

True

In [26]:
# Bitwise Operators (&, |, ^, ~, <<, >>)
10 & 10

10

In [27]:
3 | 5

7

In [28]:
~3

-4

In [29]:
35<<3

280

In [30]:
280>>3

35

Q5. Explain the concept of type casting in Python with examples.
Ans. Type casting is the technique of converting data type of variable into another data type. It is done to work with different types of data, to integrate different types of data into a program, to ensure compatibility between different data types, to enhance the versatility of Python code.

# Example:-

In [31]:
a = "2" # here we converted value of a from string type to integer type to do aaddition between two numbers
b = 3
int(a)+b

5

In [32]:
a = 3.4
int(a)

3

In [33]:
b = 6
float(b)

6.0

Q6. How do conditional statements work in Python? Illustrate with examples.
Ans. Conditional Statements in Python are like, if, elif, and else, allow programs to execute different blocks of code based on whether a condition is true or false. They control the flow of execution by checking conditions and performing actions accordingly.

* if Statement :-
  This statement evaluates a condition, if a conditon is true, the code block intended beneath it is executed.
  
* else statement :-
  This statement is used with if statement . i.e if the "if" condition is false, the code block indented beneath, the else statement is executed. 
  
* elif statement :- 
  elif statement or ("else if") allows you to check multiple conditions sequentially. If the previous if or else condition false, it evaluates the elif condition.

# Example

In [35]:
x = 10        # example of if statement
if x>5:
    print("x is greater than 5")

x is greater than 5

In [36]:
x =2       # example of else statement
if x>5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [40]:
x = 8     # example of elif statement
if x>5:
    print("x is greater than 5")
elif x<5 :
    print("x is smaller than 5")
else: 
    print("Given number is something different")

x is greater than 5

Q7. Describe the different types of loops in Python and their use cases with examples.
Ans. In Python, there are two types of primary loops:- "for" loops and "while" loops. 
     For Loops are used to iterate over a sequence like lists, tuples, strings, or Dictionaries.
     While Loops execute a block of code repeatedly as long as a condition remains true.

# Examples

In [48]:
flowers = ["Rose", "Jasmine", "Sunflower", "Lotus"]  # for loop example
for flower in flowers:
    print(flower)

Rose
Jasmine
Sunflower
Lotus

In [1]:
number = 7            # while loop example
while number > 0:
    print(number)
    number-= 1

7
6
5
4
3
2
1

In [2]:
for i in range(3):           # Nested loop example
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1